#red {
        background: #fff!important;
        color:rgb(37, 208, 191)!important;
}
.mb-auto {
    display: flex;
    justify-content: space-between;
}
h1 {
    color: #322A71!important;
    margin-bottom: 40px!important;
}
#middle {
    color: #322A71!important;
} 
#shrink {
    font-weight: 600!important; 
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}





#4F5EBD
#0AaB5AC